html, body { 
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}

.navLogo {
    width: 60px;
}
footer{
    flex-basis: 50px;
    text-align: center;
    background-color: #333333;
    color: white;
    align-items: c;
    margin-top: 10px;
}

.footer-text {
 line-height: 60px;
}



.wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  
    min-height: 100vh;
  }

  .content {
    flex-grow: 1;
  }


.model-name {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.model {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .model .model-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .model:hover .model-overlay{
    opacity: 1;
  }
  
  .model-image{
    width: 100%;
  }
  
  .model-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    font-size: 1.1em;
    color: whitesmoke;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .model:hover .model-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .model-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .model-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }



.model-template {
    text-align: center;
    font-size: 1.1em;
    padding: 150px 0;
}

.model-template h3{
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

.model-template-image {
    margin: 0px 0px 0px 0px;
}

.instagram {
    font-size: 2em;
}

.hero {
  background-image: url('../assets/george-gvasalia.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color:whitesmoke;
  margin-top: -10px;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  text-align: center;
}

.form-group {
  padding: 10px;
}

.help-block {
  opacity: 40%;
  font-size: smaller;
}

.radio-inline {
  margin-right: 7px;
}

.form-div {
  background: rgb(223, 223, 223);
  background-image: url('../assets/contact.png');
  background-size: 100% 100%;
  width: 100%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.form-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-form {
  margin-left: 10px;
}